/*    --- Personal CSS stylesheet
Designed for Project 2
==============================================================
*/

/*    --- Make font style within placeholder to be italic
    across all browsers.
*/

::placeholder {
    font-style: italic;
}

.footer {
    position: absolute;
    bottom: 0;
}

/* Extra small devices (portrait phones, less than 576px)
* No media query for `xs` since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and below) */
@media screen and (max-width: 576px) {
    div#map {
        height: 400px;
    }
}

/* Medium devices (tablets, 768px and below) */
@media screen and (max-width: 768px) {
    #map {
        height: 300px;
    }
}

/* Large devices (desktops, 992px and below) */
@media screen and (max-width: 1024px) {
#map {
        height: 400px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1024px) {
#map {
        height: 600px;
    }
}